@charset "UTF-8";

* {
    font-family: Monocraft;
}

body {
    background-image: linear-gradient(to right, #F2ECD8, #AEBF93);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #324759; /* 10px to right, 10 px to bottom, 10px of spread, color */
    width: 600px;
    padding: 60px;
    margin: auto
}

h1 {
    color: #591711;
    text-align: center;
    text-shadow: 1px 1px 2px #2d0c09;
}

h2 {
    color: #D92818;
}

p {
    text-align: justify;
    color: #324759;
}